.MatcLight {
    // Light theme grayscale
    $gray_50: #FFFFFF;
    $gray_100: #FBFBFC;
    $gray_200: #F2F4F7;
    $gray_300: #E5E8ED;
    $gray_400: #C7CCD3;
    $gray_500: #AFB5BF;
    $gray_600: #9298A2;
    $gray_700: #747B84;
    $gray_800: #575D67;
    $gray_900: #394049;
    
    // Primary Colors (Light theme)
    $primary_color: #0453AE;
    $primary_color_hover: #03408A;
    
    // Toolbar colors
    $toolbar_background: $gray_50;
    $toolbar_selected_background: $gray_200;
    $toolbar_border: $gray_300;
 
    $toolbar_color: $gray_900;
    $toolbar_color_hover: $gray_900;
    $toolbar_color_passive: $gray_600;

    $toolbar_form_background: $toolbar_background;
    $toolbar_form_active_background: $gray_200;
    $toolbar_form_background_hover: $gray_200;
    $toolbar_form_background_focus: $gray_200;
    $toolbar_form_border: $toolbar_border;
    $toolbar_form_border_hover: $toolbar_border;
    $toolbar_form_border_focus: $gray_400;
    $toolbar_form_radius: 2px;

    $toolbar_help_background: rgba(4, 83, 174, 0.1); // primary-10p approximation
    $toolbar_help_color: $primary_color;

    $layerlist_background: $gray_50;
    $layerlist_selected: $toolbar_selected_background;
    $layerlist_chevron_color: $gray_600;
    $layerlist_chevron_color_hover: $gray_800;

    $create_element_background: $gray_200;

    $popup_color: $toolbar_color;
    $popup_border: transparent;
    $popup_outer_border_color: transparent;
    $popup_background: $gray_50;
    $popup_radius: 4px;
    $popup_shadow: 0 3px 25px rgba(0,0,0,.35);
    $popup_line: rgba(0, 0, 0, 0.08);
    $popup_child_border: none;
    $popup_form_border: rgba(0, 0, 0, 0.25);
    $popup_form_border_hover: rgba(0, 0, 0, 0.25);
    $popup_form_border_focus: rgba(0, 0, 0, 0.35);

    $color_picker_border: rgba(0,0,0, 0.25);
    $color_picker_border-hover: rgba(0,0,0, 0.35);

    $popup_form_background: $toolbar_form_background;
    $popup_form_background_hover: $toolbar_form_background_hover;
    $popup_form_background_focus: $toolbar_form_background_focus;

    $toolbar_checkbox_background: $toolbar_form_background;
    $toolbar_checkbox_border: $toolbar_form_border;
    $toolbar_form_border_light: $toolbar_form_border;

    $toolbar_checkbox_hover_background: $toolbar_form_background_hover;
    $toolbar_checkbox_hover_border: $toolbar_form_border_hover;
    
    // Import common styles with light theme variables
    @import './toolbar_theme_common.scss';
    @import './toolbar_theme.scss';
    @import './toolbar_edit_mode.scss';


    .MatcMultiActionDropDown .MatcToolbarItem.MatcToolbarIconButton .MatcToolbarItemLabel{
        color: #fff;
    }

    .MatcToolbarArrowDropDown .MatcToolbarPopUp{
        border: none;
    }

    .MatcToolbarEditMode {
   
    
        .MatcToolbarEditModeCntr {
            border: 1px solid transparent;
            background: $toolbar_form_background_hover;
     
            &:hover {
                background: $toolbar_form_background_focus;
            }
        }

        .MatcToolbarEditModeHighlight {
            background: $primary_color;
        }
   
    
        a.MatcToolbarEditModeActive {            
            color: #fff;            
            &:hover {
                color: #fff;
            }
        }
    }
}