.MatcLight {
    // Light theme grayscale
    $gray_50: #FFFFFF;
    $gray_100: #FBFBFC;
    $gray_200: #F2F4F7;
    $gray_300: #E5E8ED;
    $gray_400: #C7CCD3;
    $gray_500: #AFB5BF;
    $gray_600: #9298A2;
    $gray_700: #747B84;
    $gray_800: #575D67;
    $gray_900: #394049;
    
    // Primary Colors (Light theme)
    $primary_color: #0453AE;
    
    // Override theme variables for light theme
    $canvas_container_bg: $gray_200;
    $canvas_frame_bg: $gray_300;
    $canvas_screen_shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    $canvas_grid_handle_color: $gray_800;
    $canvas_resize_element_bg: $gray_50;
    $canvas_resize_element_border: $gray_300;
    $canvas_resize_pin_bg: $gray_500;
    $canvas_resize_grow_line_bg: $gray_500;
    $dialog_themed_bg: $gray_200;
    $tree_item_color: $gray_900;
    $toolbar_detail_label_color: $gray_600;
    $toolbar_color_indicator_border: rgba(0, 0, 0, 0.15);
    $toolbar_color_indicator_border_hover: rgba(0, 0, 0, 0.35);
    $toolbar_section_marker_opacity: 0.5;
    $design_token_label_color: $gray_900;
    $toolbar_home_section_color: $gray_50;

	.MatcDialogThemed {
		background: $dialog_themed_bg;
	}

	.MatcToobarPropertiesSection input, 
	.MatcToobarPropertiesSection textarea{
		color: $text_color;
	}

	.MatcCanvas {
		background: $canvas_frame_bg;
	}

	.MatcCanvas.MatcCanvasImageUploadDND .MatcCanvasContainer {
		background: #ddd;
		transition: background 0.3s;
	}

	.MatcCanvas.MatcCanvasImageUploadDND .MatcScreenDnD {
		background: rgba(255, 255, 255, 0.5);
		transition: background 0.3s;
	}

	.MatcCanvasImageUploadDND .MatcScreenDnD.MatcScreenDragOver {
		background: none;
	}

	.MatcCanvasContainer {
		background: $canvas_container_bg;
		box-shadow: none;
		transition: background 0.3s;
	}

	.MatcCanvasFrame {
		background: $canvas_frame_bg;
	}

	.MatcScreen {
		Xbox-shadow: $canvas_screen_shadow;
	}

	/****************************************************
 * VAlign
 ****************************************************/

	.MatcScreenGridHandlex {
		border-color: $canvas_grid_handle_color transparent transparent transparent;
	}

	.MatcScreenGridHandley {
		border-color: transparent transparent transparent $canvas_grid_handle_color;
	}

	.MatcScreenGridHandleDel.MatcScreenGridHandlex {
		border-color: $canvas_grid_handle_delete_color transparent transparent transparent;
	}

	.MatcScreenGridHandleDel.MatcScreenGridHandley {
		border-color: transparent transparent transparent $canvas_grid_handle_delete_color;
	}

	.MatcToolbarResizeElement,
	.MatcToolbarResizePreview {
		background: $canvas_resize_element_bg;
		border: 1px solid $canvas_resize_element_border;
	}

	.MatcToolbarResizePinLine {
		background: $canvas_resize_pin_bg;
	}

	.MatcToolbarResizeActive .MatcToolbarResizePinLine {
		background: $primary_color;
	}

	.MatcToolbarResizePinCenter,
	.MatcToolbarResizePinLeft,
	.MatcToolbarResizePinRight,
	.MatcToolbarResizePinUp,
	.MatcToolbarResizePinDown {
		border-color: $canvas_resize_pin_bg;
	}

	.MatcToolbarResizeActive.MatcToolbarResizePinCenter,
	.MatcToolbarResizeActive.MatcToolbarResizePinLeft,
	.MatcToolbarResizeActive.MatcToolbarResizePinRight,
	.MatcToolbarResizeActive.MatcToolbarResizePinUp,
	.MatcToolbarResizeActive.MatcToolbarResizePinDown {
		border-color: $primary_color;
	}

	.MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
	.MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine {
		background: $canvas_resize_grow_line_bg;
	}

	.MatcToolbarResizeActive.MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
	.MatcToolbarResizeActive.MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine {
		background: $primary_color;
	}

	.MatcToolbarLayerListScreenLabel {
		font-weight: 700;
	}

	.MatcTreeItem {
		color: $tree_item_color;
	}

	.MatcToolbarColorIndicator {
		border: 1px solid $toolbar_color_indicator_border;
	}

	.MatcToolbarColorIndicator:hover {
		border: 1px solid $toolbar_color_indicator_border_hover;
	}

	.MatcToolbarDetailLabel {
		color: $toolbar_detail_label_color;
	}

	.MatcDesignTokenList .MatcDesignTokenListSection label {
		color: $design_token_label_color;
		background: $design_token_label_bg;
		font-weight: 700;
		padding: 0px 16px;
	}

	.MatcToolbarSectionMarker {
		opacity: $toolbar_section_marker_opacity;
	}

	.MatcToobarHomeSection .MatcToolbarItem {
		color: $toolbar_home_section_color;
	}
}